body {
  margin: 10px 20px 50px 20px;
  font-size: 20px;
  line-height: 1.4em;
  color: #222;
}

p {
}

.logo {
  font-family: 'Courier New';
  font-size: 30px;
}

.callout {
  background: #c8b7b7;
  padding: 5px;
  color: #222;
}

.col {
  padding: 0 15px;
}

.col img.stretched { width: 100%; }

.caption {
  font-size: 90%;
  text-align: center;
}

.good-boiler-logo {
  font-family: 'Leckerli One', Helvetica;
  text-transform: capitalize;
}

.centered { text-align: center }

.left-bar { float: left; width: 240px; }
.center { float: left; width: 800px;}

.date {
  color: #6b6b6b;
  font-weight: normal;
  font-size: 70%;
}

.days {
  color: #6b6b6b;
  font-size: 70%;
}

.date { margin: 0; }
.days p { margin: 0; }

.days-day { color: #222; }

div.nextprev {
  clear: both;
  position: relative;
  height: 30px;
}

.nextprev .next {
  position: absolute;
  right: 0;
}
.nextprev .prev {
  position: absolute;
  left: 0;
}