body {
  margin: 70px 20px 50px 20px;
  font-size: 20px;
  line-height: 1.4em;
  color: #222;
}
p {}
a { color: #2455c4; text-decoration: none; }
a:hover { color: #222; }

.container { width: 1040px; margin: 0 auto; }

.logo {font-family: 'Abel', 'Courier New', monospace; font-size: 30px; margin-bottom: 0; }
.logo-text { color: #999; font-size: 14px; margin-top: 0; }

h1, h2, h3, h4, h5, h6 { font-family: 'Abel', 'Courier New', monospace; }

.menu { margin: .67em 0; }
.menu ul { list-style: none; margin: 0; padding: 0; }
.page-item { display: block; float: left; padding-left: 1.8em; }
.current-page-parent { padding-left: 0; }

.content { clear: both; }

.callout {
  background: #c8b7b7;
  padding: 5px;
  color: #222;
}

.col {
  padding: 0 15px;
}

img.stretched { width: 100%; }

.caption {
  font-size: 90%;
  text-align: center;
  color: #999;
}

.good-boiler-logo {
  font-family: 'Leckerli One', Helvetica;
  text-transform: capitalize;
}

.centered { text-align: center }

.left-bar { float: left; width: 240px; }
.center { float: left; width: 800px;}

.date {
  color: #6b6b6b;
  font-weight: normal;
  font-size: 70%;
}

.days {
  text-transform: uppercase;
  color: #6b6b6b;
  font-size: 70%;
}

.date { margin: 0; }
.days p { margin: 0; }

.days-day {  }

div.nextprev {
  clear: both;
  position: relative;
  height: 30px;
}

.nextprev .next {
  position: absolute;
  right: 0;
}
.nextprev .prev {
  position: absolute;
  left: 0;
}

.hero {

}

.hero td {
  vertical-align: top;
  padding-right: 40px;
}
