body {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.callout {
  background: #c8b7b7;
  padding: 5px;
}

.col {
  padding: 0 15px;
}

.col img.stretched { width: 100%; }

.caption {
  font-size: 90%;
  text-align: center;
}

.good-boiler-logo {
  font-family: 'Leckerli One', Helvetica;
  text-transform: capitalize;
}

.centered { text-align: center }